<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Online Store - Accueil du front-office</title>

</head>
<body>

    <span th:text="${#locale.country}"></span>

    <h1>Liste de mes contacts</h1>
    <table id="contacts-list" border="1"></table>


    <h1>Liste de mes Singers</h1>
    <table id="singers-list" border="1"></table>


    <h1>Liste de mes Songs</h1>
    <table id="songs-list" border="1"></table>

    <script src="songs.js"></script>
</body>
</html>
